
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #888787; 
  padding: 1rem;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; 
  height: 40px; 
  margin-right: 0.5rem;
}

.right {
  display: flex;
  align-items: center;
}

.loginButton {
  background-color: #6b6363;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.userPanel {
  position: relative;
}

.userButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.userIcon {
  width: 30px;
  height: 30px; 
  margin-right: 0.5rem;
}

.settings {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.settings button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.settings button:hover {
  background-color: #555;
}
