/* Sidebar.css */
.sidebar {
  width: 250px;
}

/* Stilovi za listu u bočnoj traci */
.MuiDrawer-root .MuiList-root {
  width: 250px;
}

/* Stilovi za stavke u listi */
.MuiDrawer-root .MuiListItem-root {
  text-align: left;
}

/* Stilovi za ikonice */
.MuiDrawer-root .MuiListItemIcon-root {
  min-width: 40px;
}

/* Stilovi za tekst */
.MuiDrawer-root .MuiListItemText-root {
  margin-left: 10px;
}

/* Stil za zatvaranje bočne trake */
.MuiDrawer-root .MuiDrawer-paper {
  width: 250px;
}
